<!DOCTYPE html>
<html>
<head>
  <title>Melon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<p class="notice"><%= alert %></p> 

<!-- <p class="alert">yo<%= alert %></p> -->
<%= yield %>



<script>
$('#tag_cloud').masonry({
  itemSelector: '.item_wrap',
  isAnimated: true,
  isFitWidth: true,
  animationOptions: {
    duration: 900,
    easing: 'linear',
    queue: false
  }
});

</script>
</body>

</html>
