<!DOCTYPE html>
<html>
<head>
  <title>Melon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
    <p class="alert"><%= notice %></p>
<% end %>

<%= yield %>



<script>
$('#tag_cloud').masonry({
  itemSelector: '.item_wrap',
  isAnimated: true,
  isFitWidth: true,
  animationOptions: {
    duration: 900,
    easing: 'linear',
    queue: false
  }
});

</script>
</body>

</html>
